* {
  font-family:'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}
/* -------body styles-------- */
body {
  height: 200vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* #93a8b5 */
/* #edfcff f5f9fa */
/* --------header styles ------------ */
header {
  z-index: 2;
  width: 100%;
  position: fixed;
}

.settings-icon{
  position: absolute;
  top: .7em;
  right: 2em;
  cursor: pointer;
  color: #daf250;
  opacity: .6;
  transition: all .5s ease;
  font-size: 2.1em;
}

.settings-icon:hover {
  opacity: 1;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e8f7fa;
  border-bottom: 8px solid #0aa5ff;
  padding: 1.6em 1.5em;
}

.logo-wrap {
  display: flex;
}

.logo-wrap div {
  width: 151px;
}

.logo-wrap a {
  margin-right: .5em;
}

h1.logo {
  font-family: 'Anton', sans-serif;
  color: #daf250;
  font-size: 1.8em;
  font-weight: 900;
}

h2.sub-logo {
  font-size: .8em;
}
.user-pic{
margin-right: 100px;
}

.igloo {
  cursor: pointer;
  color: #69d2ff;
  font-size: 2.5em;
}

input[type=text],input[type=password],input[class=username] {
  height: 1.5em;
  width: 10em;
  padding: 0 .5em;
}

input[type=submit]{
  background-color: #FFFFFF;
  border: 3px solid #0aa5ff;
  width: 80PX;
  height: 30px;
}

.create-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 115px;
  left: 0;
  background: rgba(10,165,255, .8);
  transform: translateY(-100%);
  transition: all .5s ease-in-out;
}

.create-profile-slide {
  transform: translateY(0);
}

.profile-form {
  transform: translateY(-425%);
}

#update-profile-fly-out {

}

#create-backup-email {

}

#create-address {

}

.createPost {
  margin-top: 5em;
  margin-bottom: 3em;
}

#input-createPost {
  padding: 0 2em;
  width: 65em;
  height: 30px;
  border: 1.8px solid #daf250;
}

.containerLanding {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
}

article {
  width: 700px;
  height: 100%;
  margin: 1.5em;
  box-shadow: 10px 10px 30px grey;
  margin: 20px;
}

.content {
  width: 640px;
  margin: 0 30px;
}

.content img {
  margin: 1em 0;
  width: 100%;
}

.comment {
  font-size: 1.5em;
  color: #daf250;
  font-weight: 600;
  margin-top: 30px;
  padding-right: 20px;
}

.top-bar {
  width: 700px;
  height: 40px;
  background-color:#edfcff;
  display: flex;
  align-items: center;
}

.user-icon {
  width: 30px;
  height: 30px;
  background-color: yellow;
  margin-left: 20px;
}

.user-icon2 {
  width: 30px;
  height: 30px;
  background-color: #4671bd;
  margin-left: 20px;
}

.user-icon3 {
  width: 30px;
  height: 30px;
  background-color: pink;
  margin-left: 20px;
}

.active {
  margin: 1.5em auto;
}

h3 {
  font-size: .8em;
  margin-left: 10px;
}

/* ________post styles___________ */
.container-post {
  width: 700px;
  height: 100%;
  margin: 1.5em;
  margin: 20px;
}

input[class=title]{
  width: 689px;
  height: 30px;
  height: 30px;
  border: 1.8px solid #daf250;
  font-size: 1em;
}

textarea {
  width: 700px;
  height: 100px;
  resize: none;
  margin-top: 10px;
  font-size: 1em;
  border: 1.8px solid #daf250;
  overflow-y: scroll;
}

footer {
  background-color: #0aa5ff;
  color: #000;
  line-height: 3.5;
  width: 100%;
  text-align: center;
  font-size: .8em;
  margin-top: 30px;
}
